scikit-image
scikit-learn
scipy
xgboost

numpy
pandas
pandas-profiling

h5py
feather-format 
swifter

webrtcvad
ffpyplayer
wave
pillow
python-vlc

matplotlib
seaborn
plotly

neptune-client
neptune-contrib

optuna

opensmile
librosa
tqdm

mediapipe